def work_dir = secrets.WORK
if(work_dir == '') {
    workDir = 'work'
}
else {
    workDir = work_dir
}

cleanup = true

executor {
    name            = 'slurm'
    submitRateLimit = '10sec'
    queueSize       = 50
}

conda {
    enabled  = true
    useMamba = true
}

process {
    shell         = ['/bin/bash', '-eu']
    // memory errors should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'
}

report {
    enabled = true
}

manifest {
    name            = 'Haplotypes workflow'
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.4'
    contributors    = [
        [
            name: 'Seth Borrowman',
            affiliation: 'Northwestern University',
            github: 'https://github.com/seth-borrowman'
        ]
    ]
}
