// General parameters
params {
    barcodes        = "barcodes.txt"
    fastq_dir       = ""
    reference       = ""
    outdir          = projectDir + "/nf-results"
    min_read_length = -1
    max_read_length = -1
    gpu             = false
    denovo          = false
}

workDir = secrets.WORK

cleanup = true

executor {
    name = 'slurm'
    submitRateLimit = '10sec'
    queueSize = 50
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /gpfs/projects/b1042 --bind /gpfs/projects/p32511"
}

process {
    shell         = ['/bin/bash', '-eu']
    // memory errors should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'
    container     = 'docker://ghcr.io/seth-borrowman/align-tools:1.0'
    withName:concatenateFastq {
        executor        = 'local'
        errorStrategy   = 'retry'
    }
    withName:qualityFilter {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 1
        time            = { 120.minute * task.attempt}
        memory          = { 4.GB * task.attempt}
    }
    withName:flyeAssembly {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 20.minute * task.attempt}
        memory          = { 8.GB * task.attempt} 
    }
    withName:polishAssembly {
        executor        = 'slurm'
        clusterOptions  = { params.gpu ? '-A b1042 --gres=gpu:a100:1' : '-A b1042' }
        queue           = { params.gpu ? 'genomics-gpu' : 'genomics' }
        cpus            = 1
        time            = { 30.minute * task.attempt}
        memory          = { 16.GB * task.attempt}
    }
    withName:alignReads {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 10.minute * task.attempt}
        memory          = { 16.GB * task.attempt}
    }
    withName:firstAlignment {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 20.minute * task.attempt}
        memory          = { 8.GB * task.attempt} 
    }
    withName:firstConsensus {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 20.minute * task.attempt}
        memory          = { 16.GB * task.attempt} 
    }
    withName:realign {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 20.minute * task.attempt}
        memory          = { 8.GB * task.attempt} 
    }
    withName:finalConsensus {
        executor        = 'slurm'
        clusterOptions  = '-A b1042'
        queue           = 'genomics'
        cpus            = 2
        time            = { 20.minute * task.attempt}
        memory          = { 16.GB * task.attempt} 
    }
}

report {
    enabled = true
}

manifest {
    name            = 'Alignment workflow'
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.4'
    contributors    = [
        [
            name: 'Seth Borrowman',
            affiliation: 'Northwestern University',
            github: 'https://github.com/seth-borrowman'
        ]
    ]
}
