workDir = '/projects/b1042/LorenzoRedondoLab/Seth/work'

executor {
        name = 'slurm'
        submitRateLimit = '5sec'
        queueSize = 50
    }

conda {
    enabled = true
    useMamba = true
}

process.shell = ['/bin/bash', '-eu']

manifest {
    name = 'Haplotypes workflow'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.4'
}